<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>This app was developed by Flagforge.  They can be reached at <a href="mailto:info@flagforge.com">info@flagforge.com</a></p>

<p>For support or questions please visit our Github page <a href="https://github.com/flagforgeCTF/trackforge">here</a>.</p>
