<div class="center jumbotron">
  <h1>Welcome to <%= competition_name %></h1>

	<div class="row">
	<%= link_to image_tag("trackforge.png", width: '80%', alt: "trackforge logo", 
												class: "center col-sm-12 col-md-6 col-md-offset-3"), 'http://trackforge-stl.org' %>
	</div>
  <h2>
    This is the home page for the 
    <a href="https://github.com/flagforgeCTF/trackforge">TrackForge</a>
    scoring server application developed by Flagforge.
  </h2>

	<% if registration_active? %>
		<% if !logged_in? %>
  			<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  		<% end %>
	<% else %>
		<% if competition_started? %>
			<h3>Registration closed!</h3>
		<% else %>
			<h3>Registration hasn't opened yet, check back soon!</h3>
		<% end %>
	<% end %>
</div>

