<footer class="footer">
  <small>
    <a href="https://github.com/flagforgeCTF/trackforge">TrackForge</a>
    by <a href="http://flagforge.xyz/">Flagforge</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://blog.flagforge.xyz">Blogs</a></li>
    </ul>
  </nav>
</footer>
